nav {
  background-color: rgb(38, 50, 56);
  border: 25px 0;
}

.nav-link {
  /* color: white !important; */
  font-weight: 500 !important;
  width: 75px;
  text-align: center;
  font-size: 20px !important;
  border: solid 2px black;
  border-radius: 45px;
  background-color: white;
}

.active {
  /* color: white !important; */
  font-weight: 500 !important;
  font-size: 20px !important;
  border: solid 2px black;
  border-radius: 45px;
  background-color: rgb(183, 181, 181);
}

.d-flex {
  padding-right: 20px;
}

.container-fluid {}

@media screen and (max-width: 991px) {
  .navbar-nav {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row !important;
  }


}