.App {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(90deg, #DCDCDC, #D3D3D3 10%);
}

.App h1 {

}

.blabla {
  display: hidden;
  color: red;
}

/* body {
  background: linear-gradient(rgb(180, 30, 30), rgb(71, 8, 8))
} */